<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Details</title>
</head>
<body>
    <!-- <div class="wrapper"> -->
        <div class="iu_topbar_div">
            <div class="iu_topbar_nav">
                <div class="iu_title_div">Bright Ideas</div>
                <div class="header_bulb"><img id="header_bulb" src="{{url_for('static', filename='bulb_tilt_grad_64px.png')}}"></div>
                <div class="iu_nav_div">
                <ul>
                    <li><a href="/success">Summaries</a></li>
                    <li><a href="/exit">Logout</a></li>
                </ul>
            </div>
        </div>
        </div>

        <div class="iu_wrapper">
            <h2>Welcome, {{user.f_name}} at id {{user.id}}</h2>
        <!-- <h2>This idea: ID {{ idea.id }} by user "{{ idea.creator.alias }}"</h2> -->
        <!-- <h2>Bright idea (ID {{ idea.id }}) by "{{idea.creator.alias}}":</h2> -->
        <br>
        <h3>User "<span style="color: darkgray">{{idea.creator.alias}}</span>" had this bright idea (ID {{ idea.id }}):</h3>
        <div class="idea_detail">
            <!-- <div>{{ idea.creator.alias }} said: </div> -->
            <div class="detail_row">
                <!-- <div class="detail_left"><p>"{{idea.creator.alias}}'s" bright idea (ID {{ idea.id }}):</p></div> -->
                <div id="summary"><p>{{ idea.summary }}</p></div>
            </div>
            <!-- This needs to be the creator not the person logged in -->
            <h3>These users liked {{ idea.creator.alias }}'s idea.</h3>
            <table>
                <tr>
                    <th>User Alias</th>
                    <th>User Name</th>
                    <th>User ID</th>
                </tr>
                {% for user in idea.liked_by %}
                <tr>
                    <td><a href="/users/detail/{{ user.id }}">{{ user.alias }}</a></td>
                    <td>{{user.f_name}}&nbsp;{{user.l_name}}</td>
                    <td>{{ user.id }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
</body>
</html>