<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Summary View</title>
</head>
<body>
    <!-- <div class="wrapper"> -->
        <div class="iu_topbar_div">
            <div class="iu_topbar_nav">
                <div class="iu_title_div">Bright Ideas</div>
                <div class="header_bulb"><img id="header_bulb" src="{{url_for('static', filename='bulb_tilt_grad_64px.png')}}"></div>
                <div class="iu_nav_div">
                <ul>
                    <li><a href="/success">Summaries</a></li>
                    <li><a href="/exit">Logout</a></li>
                </ul>
            </div>
        </div>
        </div>

        <div class="iu_wrapper">
            <h2>Welcome, {{user.f_name}} at id {{user.id}}</h2>
        <!-- <h2>This idea: ID {{ idea.id }} by user "{{ idea.creator.alias }}"</h2> -->
        <!-- <h2>Bright idea (ID {{ idea.id }}) by "{{idea.creator.alias}}":</h2> -->
        <!-- <h2>User "{{idea.creator.alias}} had this bright idea (ID {{ idea.id }}):</h2> -->
        <br>
        <h3>Edit your idea... more to say?</h3>

        <form action="/edit_save_idea" method="POST">
            <input type="hidden" id="id" name="id" value="{{ idea.id }}" />

        <div class="idea_detail">
            <div class="detail_row">
                <!-- <label for="summary"></label><br> -->
                <textarea id="summary" name="summary" cols="96" rows="4">{{ idea.summary }}</textarea>
            </div>
        <button type="submit">Save</button>
        </div>
        </form>
        </div>

</body>
</html>