<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Summary View</title>
</head>
<body>
    <div class="wrapper">
        <div class="topbar_div">
            <div class="title_div">
                <h1>Welcome, {{user.f_name}} of id {{user.id}}</h1>
            </div>
            <div class="nav_div">
                <ul>
                    <!-- <li><a href="/add">Create</a></li> -->
                    <li><a href="/exit">Logout</a></li>
                </ul>
            </div>
        </div>
        <div>
            <table>
            </br>
                <!-- <tr>
                    <th>Name</th>
                    <th>Under 30 Minutes</th>
                    <th>Actions</th>
                </tr> -->
                    {% for idea in ideas %}
                <tr>
                    <td>{{idea.user_id}} says:</td> 
                    <td>{{idea.created_at}}</td>
                    <!-- <td>{{idea.idea_summ}}</td> -->
                    <!-- <td>{{idea.summary}}</td> -->
                    <td>{{idea.id}}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
    
    </div>

</body>
</html>