<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Summary View</title>
</head>
<body>
    <div class="wrapper">
        <div class="topbar_div">
            <div class="title_div">
                <h1>Welcome, {{user.f_name}} of id {{user.id}}</h1>
            </div>
            <div class="nav_div">
                <ul>
                    <!-- <li><a href="/add">Create</a></li> -->
                    <li><a href="/exit">Logout</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p>Below are some bright ideas. First, care to add your own?</p>
            <form action="/create/idea" method="POST">
                <div>
                    <!-- <label for="summary">First name:</label><br> -->
                    <textarea id="summary" name="summary" cols="87" rows="4" value="Post something witty here."></textarea>
                    <!-- <label for="user_id">First name:</label><br> -->
                    <input type="hidden" id="user_id" name="user_id" value="{{user.id}}">
                    <button>Idea!</button>
            </div>
            </form>

            <table>
            </br>
                    {% for idea in ideas %}
                <tr>
                    <!-- <td>{{idea.summary}}</td> -->
                    <td style=width:10%>{{idea.user_id}}</td>
                    <td style=width:50%>{{idea.summary}}</td>
                    <td style=width:20%>{{idea.created_at}}</td>
                    <!-- <td>{{idea.updated_at}}</td> -->
                </tr>
                    {% endfor %}
            </table>
        </div>
    
    </div>

</body>
</html>